.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px);
  padding: 2rem;
}

.login-card {
  width: 100%;
  max-width: 400px;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.signup-link {
  text-align: center;
  padding: 1rem;
  margin: 0;
}

.signup-link a {
  color: var(--primary-color);
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

